body { 
    margin: 0;
    font-family: 'lucida sans',sans-serif, arial helvetica;
}

.topnav {
    overflow: hidden;
    background-color: hsl(189, 87%, 50%);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
}

.topnav a:hover {
    background-color: #ddd;
    color: grey;
}

.topnav a.active {
    background-color: rgb(6, 6, 70);
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container video {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
} 

.banner h1 {
    position: relative;
    background: #fff;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    mix-blend-mode: screen;


}

.Row {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 20px;
}

.Column_2 {
    max-width: 100%;
    max-height: 100%;
}

.Column_1 {
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

